{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Student Grievence Cell</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<center><a href="#"><font color="white" size="5">Student Complaint Management</font></a></center>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

					{% if request.session.role in "admin" %}
                        <li><a href="/addfaculty">Add Faculty</a></li>
                        <li> <a href="/getfacultyes">View Faculties</a></li>
                    {% endif %}

                    {% if request.session.role in "student" %}
                       <li> <a href="/addcomplaint">Post Complaint</a></li>
                    {% endif %}

                    <li><a href="/getcomplaintes">View Complaints</a></li>

					<li><a href="/logout">Logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">
			<div id="content">

				<h1>Add Faculty : {{message}}</h1>

				<form name="form" action="/addfacultyaction/" method="post">
					{% csrf_token %}

					<div class="form_settings">

                        <p>
							<span>User Name:</span><input class="contact" type="text" name="username" value="" required/>
						</p>

						<p>
							<span>Name :</span><input class="contact" type="text" name="name" value="" required/>
						</p>

						<p>
							<span>Password :</span><input class="contact" type="password" name="password" value="" required/>
						</p>

						<p>
							<span>Email :</span><input class="contact" type="text" name="email" value="" required/>
						</p>

						<p>
							<span>Mobile :</span><input class="contact" type="text" name="mobile" value="" required/>
						</p>

                        <p>
							<span>Department:</span>
                            <select name="branch" required>
                                    <option value="">--select--</option>
                                    <option value="cse">cse</option>
                                    <option value="it">it</option>
                                    <option value="ece">ece</option>
                                    <option value="eee">eee</option>
                                    <option value="civil">civil</option>
                                    <option value="mech">mech</option>
                            </select>
						</p>

                        <p>
                            <span>Complaint Type:</span>
							<select name="complainttype" required>

                                    <option value="">--select--</option>
                                    <option value="ragging">ragging</option>
                                    <option value="fee">fee</option>
                                    <option value="library">library</option>
                                    <option value="canteen">canteen</option>
                                    <option value="neatness">neatness</option>
                                    <option value="bus">bus</option>
                                    <option value="sports">sports</option>
                                    <option value="teaching">teaching</option>
                                    <option value="infrastructure">infrastructure</option>
                                    <option value="social issues">social issues</option>
                                    <option value="others">others</option>

                            </select>
						</p>

						<p style="padding-top: 15px">
							<span>&nbsp;</span><input class="submit" type="submit"
								name="contact_submitted" value="Add Faculty" />
						</p>

					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>